@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');

/*giving appropriate values to the entire body*/
body {
  margin: 0 0;
  box-sizing: border-box;
  font-family: 'Roboto Mono', monospace;
  background-color: #ffde59;
}

html{
  scroll-behavior: smooth; /*smooth scrolling for the page*/
}

/*****************************/
/*start of css for index.html*/
/*****************************/

/* Add a purple background color to the top navigation */
.topnav {
  background-color: #7f29fb;
  overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 2%;
  padding-right: 5%;
  padding-left: 5%;
  text-decoration: none;
  font-size: 18px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}

/*changing background color and padding of top left 30mff element*/
.topnav a.mff {
  padding-right: 3%;
  padding-left: 3%;
  background-color: #bb86fc;
}

/*properties of container which contains the video*/
.flexbox-container{
  display: flex;
  justify-content: center;
  justify-content: space-around;
}

/*properties of the flexbox item containing the video*/
.flexbox-item1{
  width: 95%;
  margin: 10px;
  text-align: center;
  /*border: 3px solid black;*/
  background-color: white;
  font-family: 'Roboto Mono', monospace;
}

/*setting the width of the video to 100% of the screen*/
.video {
  width: 100%;
}

/*adjusting properties of second flexbox container (containing image and text)*/
.flexbox-container2{
  display: flex;
  flex-direction: row;
  justify-content: center;
  justify-content: space-around;
  padding-top: 25px;
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 5%;
}

/*giving responsiveness to the webpage as the width decreases*/
@media only screen and (max-width: 992px) {
  .flexbox-container2 {
    flex-direction: column;
  }
  .flexbox-item2 { 
    width:auto !important;
    height: auto !important;
  }
}

/*properities of the flexbox items which contain the text and poster*/
.flexbox-item2{
  height: 500px;
  width: 650px;
  margin: 10px;
  text-align: center;
  background-color: #ffde59;
  /*border: 3px solid black;*/
  font-family: 'Roboto Mono', monospace;
}

/*setting font size and padding of the 'about this film' text*/
.about-text{
  font-size: 18px;
  padding-bottom: 70px;
}

/*centering the main headings on each page and specifying font*/
.main-headings {
  text-align: center;
  font-family: 'Roboto Mono', monospace;
}

/*setting image width to 100%*/
.my_image {
  width: 100%;
}

/*setting properties to footer*/
.footer{
  position: fixed;
  bottom: 0px;
  left: 0px;
  display: flex;
  width: 100%;
  background-color: #A29F9F;
  overflow: hidden;
}

/*changing color of email link in the footer to black*/
.my-email{
  color: black;
}

/*properties of the 'help us improve' section*/
.helpus {
  color: #f2f2f2;
  text-align: center;
  padding: 14px 2%;
  padding-right: 5%;
  padding-left: 5%;
  text-decoration: none;
  font-size: 16px;
  background-color: black;
}

/*properties of the 'we appreciate your feedback' section*/
.feedback{
  color: #f2f2f2;
  text-align: center;
  padding: 14px 2%;
  padding-right: 3%;
  padding-left: 3%;
  text-decoration: none;
  font-size: 16px;
}


/*****************************/
/*end of css for index.html*/
/*****************************/



/*****************************/
/*start of css for actors.html*/
/*****************************/

/*properties of flex-box container which contains actor info*/
/*note that this allows elements to be wrapped using flex-wrao*/
.flexbox-container3{
  display: flex;
  justify-content: center;
  justify-content: space-around;
  padding-bottom: 3%;
  padding-top: 10px;
  flex-wrap: wrap;
}

/*properties of flexbox item containing actor image and bio*/
.flexbox-item3{
  height: 660px;
  width: 400px;
  padding-left: 10px;
  padding-right: 10px;
  text-align: center;
  background-color: #ffde59;
  /*border: 3px solid black;*/
  font-family: 'Roboto Mono', monospace;
}

/*setting width of actor image to be 80%*/
.actors-img{
  width: 80%;
}

/*setting top padding for actors' bio*/
.actors-bio{
  padding-top: 10px;
}

/*aligining actor names to the center*/
.actor-name {
  text-align: center;
}


/*****************************/
/*end of css for actors.html*/
/*****************************/



/*****************************/
/*start of css for bts.html*/
/*****************************/

/*Note: Some of the properties for the carousel/slideshow are inspired by W3Schools*/

* {
  box-sizing: border-box
}
.mySlides 
{
  display: none
}
img {
  vertical-align: middle;
}

/* slides container */
.slides-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
  padding-bottom: 6%;
}

/*setting width to 100 and inlcuding a greyscale filter for 'BTS' images*/
.bts-images{
  width: 100%;
  filter: grayscale();
}

/*removing the greyscale filter when hovering over the image*/
.bts-images:hover {
  filter: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* number text on the top right (1/4 etc) */
.numbertext {
  color: white;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/*properties for the dots container*/
.my-dots{
  padding-top: 10px;
  padding-bottom: 6%;
  text-align:center;
}

/* The dots*/
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

/*changing background color of the active dot (current one)*/ 
.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

/* On smaller screens, decrease text size (some responsiveness) */
@media only screen and (max-width: 300px) {
  .prev, .next,.text, {font-size: 11px}
}



/*****************************/
/*end of css for bts.html*/
/*****************************/



/*****************************/
/*start of css for contacts.html*/
/*****************************/


/*aligining heading to left with other properties */
.contact-heading{
  text-align: left;
  padding-left: 3%;
  padding-top: 1%;
  font-family: 'Roboto Mono', monospace;
}

/*container for the contact elements and text*/
.container {
  margin: 0px;
  padding-top: 20px;
  padding-left: 3%
  /*background-color: red;*/
}

/*properties of row in the container above*/
.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}

/*properties of column in the container above*/
.column {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;
}

/*properties of the contact info div containing the icons and text*/
.contact-info{
  font-family: 'Roboto Mono', monospace;
  display: flex;
  align-items: center;
}

/*setting font size and color of icons used from font awesome*/
.fa-phone-volume, .fa-envelope-square, .fa-map-marker-alt {
  font-size: 50px;
  color: #A29F9F;
}

/*properties of text in the contact-info div*/
.contact-text {
  margin: 0;
  display: inline-block;
  /*vertical-align: middle;*/
  margin-left: 15px;
  font-size: 30px;
}

/*removing text decoration from a tags*/
a{
  text-decoration: none;
  color: black;
}

/*media query for some responsiveness*/
@media only screen and (max-width: 850px) {
  .fa-phone-volume, .fa-envelope-square, .fa-map-marker-alt {font-size: 20px}
  .contact-text {font-size: 14px}
}

/*aligning and adding padding to the social icons*/
.socialIcons {
  text-align: center;
  padding: 90px;
}


/*setting font size, padding and color of social icons*/

.fa-facebook, .fa-linkedin, .fa-instagram, .fa-youtube {
  /*padding-top: 20px;*/
  font-size: 200px;
  padding: 50px;
}

.fa-facebook {
  color: #4267B2;
}

.fa-instagram {
  color: #E1306C;
}

.fa-youtube {
  color: #FF0000;
}

.fa-linkedin {
  color: #2867B2;
}


/*****************************/
/*end of css for contacts.html*/
/*****************************/


